/* Toolbar */
nav {
  text-transform: uppercase;
  background-color: #8aa899;
}
.nav-item {
  margin-right: 30px;
  margin-left: 30px;
  letter-spacing: 1px;
}

/* Typo */
h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #3a3c40;
  font-size: 2.5rem;
}
p {
  font-size: 1.5em;
  color: #3a3c40;
}

a {
  text-decoration: none;
  color: #343a40;
}
a:hover {
  color: #343a40;
}

#scrollUp
{
position: fixed;
z-index: 999;
bottom : 10px;
right: -100px;
opacity: 0.5;
}

/* Head */
.banner {
  background: url("images/croissant.png")no-repeat;
  background-size: 100%;
  width: 150%;
  height: 1000px;
  margin-bottom: auto;
}
.logo {
  position: absolute;
  bottom: 60%;
  left: 5%;
}

/* Enjoy breakfast */
.enjoy_breakfast {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}
.h_enjoy {
  margin-bottom: 2%;
}
.p_enjoy {
  margin-bottom: 4%;
}
.b_enjoy {
  width: 20%;
  height: 10%;
  background-color: #8aa899;
  text-transform: uppercase;
  letter-spacing: 10px;
  border: none;
  color: #3a3c40;
  font-size: inherit;
}

/* I love Coffee */
.col-lg-7 {
  padding-left: 0 !important;
}
.imglovecoffee {
  width: 100%;
}
.cafe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.new {
  color: yellow;
  letter-spacing: 15px;
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  left: 70%;
  top: 60%;
  transform: translate(-50%,-50%);
  transform: rotate(10deg);
  text-transform: uppercase;
  padding: 100px;
  border-radius: 50%;
  height: 30%;
  width: 35%;
  background-color: red;
  text-align: left;
  background-color: rgba(117, 140, 121, 0.8);
}
.new:after {
content: "NEW!";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

/* See our menu */
.our_menu {
  position: relative;
  margin-top: 5%;
}
.img_ban_menu {
  width: 100%;
}
.titre_menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

/* Menu */
.contour {
  border: 3px yellow solid;
  width: 70%;
  margin-left: 15%;
}
.mini_img {
  position: relative;
  top: 110px;
  right: 10px;
}
.menu_name {
  text-align: left;
  float: left;
  padding-top : 30%;
  padding-left: 8%;
}
.titre_coffee {
  position: relative;
  float: right;
  margin-top: -40px;
  text-transform: uppercase;
  font-size: 1.6em;
  letter-spacing: 2px;
}
.price {
  text-align: right;
  padding-top: 30%;
  padding-right: 8%;
}

/* Tasty meals */
.fond {
  background-color: #8aa899;
  width: 100%;
  height: 887px;
  margin-top: 10%;
  position: relative;
}
.h_tasty {
float: right;
position: relative;
margin-right: 30px;
clear: both;
}
.p_tasty {
float: right;
position: relative;
text-align: right;
margin-right: 30px;
clear: both;
}
.tasty_meals_img{
background:url(images/tastymeals.png) no-repeat;
}

/* Delicious smoothies */
.delicious_smoothie {
  margin-top: 5%;
  position: relative;
}
.img_smooth {
  float: right;
  position: relative;
  left: 15px;
  margin-bottom: 20%;
}
.h_delicious {
  margin-left: 15%;
  position: absolute;
  padding-top: 20%;
}
.p_delicious {
  margin-left: 15%;
  position: absolute;
  top: 30%;
}
.b_delicious {
  margin-left: 15%;
  position: absolute;
  bottom: 30%;
  border: none;
  width: 40%;
  height: 8%;
  background-color: #8aa899;
  text-transform: uppercase;
  letter-spacing: 10px;
  border: none;
  color: #3a3c40;
  font-size: inherit;
}

/* Offers */
.h_offers {
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 30px;
}
.btn_sub {
  border-radius: 50px;
  border: none;
  width: 15%;
  background-color: #8aa899;
  color: white;
  text-transform: uppercase;
  padding: 11px;
  position: relative;
  right: 20px;
}
.btn_email {
  margin-top: 50px;
  border-radius: 50px;
  border: none;
  width: 40%;
  background-color: #3a3c40;
  color: #9d9ea1;
  padding: 8px 8px 8px 30px;
  position: relative;
  left: 20px;
}

/* Footer */
.fond_footer {
  background-color: #8aa899;
  margin-top: 200px;
  padding-top: 300px;
  padding-bottom: 200px;
  position: relative;
}
.logo_footer {
  position: absolute;
  left: 10%;
  bottom: 100%;
}
.parag {
  position: absolute;
  left: 10%;
  top: 20%;
}
.title {
  font-size : 1.8em;
}

@media (max-width: 767px){
/*Navbar*/
  nav {
    background-color: transparent;
    float: right;}
  .div_head {
    display: block;}
  .mx-auto {
    text-align: right;
    font-weight: bolder;}
  .nav-item {
    margin: auto;}
  .navbar-toggler {
    margin: auto;}
  .navbar {
    padding: 0;}
/*Typo*/
  p {
    font-size: 1.2em;}
/*Head*/
  .logo {
    width: 30%;
    position: absolute;
    top: 1%;}
  .banner {
    height: 200px;
    width: 100%;}
/*Enjoy breakfast*/
  .enjoy_breakfast {
    margin-top: 15%;
  }
  .b_enjoy {
    width: 60%;
    height: auto;
    margin-bottom: 20%;
    font-size: 0.8em;}
  .p_enjoy {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 15%;}
  .h_enjoy {
    margin-bottom: 15%;
    font-size: 1.4em; }
/*I love coffee*/
  .new {
    left: 32%;}
  .h_coffee {
    margin-top: 20%;
    margin-bottom: 30%;
    text-align: center;
    font-size: 1.4em;
  }
/*See our menu*/
  .img_ban_menu {
    width: 100%;
    height: 100px;}
  .titre_menu {
    font-size: 1.4em;
  }
/*Menu*/
  .mini_img {
    width: 50%;
    top: 50px;}
  .contour p{
    font-size: 1.2em;}
  .contour {
    width: 90%;
    margin-left: 4%;
    }
  .menu_name {
    padding-left: 4%;
    padding-top: 25%;
  }
  .price {
    padding-right: 4%;
    padding-top: 25%;
  }
/*Tasty meals*/
  .fond {
    margin-top: 20%;
    width: 100%;
    height: 500px;
    position: relative;
  }
  .tasty_meals_img {
    background-size: 100%;
  }
  .p_tasty {
    margin-right: 4%;
    margin-left: 4%;
    text-align: center;}
  .h_tasty {
    font-size: 1.4em;
    float: none;
    padding-top: 50%;
    margin-right: auto;
    margin-bottom: 10%;
    position: initial;
    text-align: center;}
/*Delicious smoothie*/
  .img_smooth {
    width: 100%;
    margin-bottom: 25%;
    position: relative;}
  .h_delicious {
    position: initial;
    text-align: center;
    margin: auto;
    font-size: 1em;
    margin-bottom: 10%;}
  .p_delicious {
    position: initial;
    text-align: center;
    margin: auto;
    margin-bottom: 10%;
    }
  .b_delicious {
    position: initial;
    width: 60%;
    height: 60px;
    margin: auto;
    display: flex;
    margin-bottom: 20%;
    font-size: 0.8em;}
/*Offers*/
  .btn_email {
    width: 80%;
    position: relative;
    display: block;
    left: 10%;
    font-size: 0.9em;}
  .btn_sub {
    display: flex;
    width: 50%;
    justify-content: center;
    position: absolute;
    margin-right: 18%;
    margin-top: 8%;
    font-size: 0.9em;}
  .h_offers {
  font-size: 1.6em;}
/*Footer*/
  .logo_footer {
    width: 50%;
    transform: translate(30%, 0%);}
  .title {
    text-align: center;}
  .parag {
    text-align: center;
    margin-top: 10%;
    position: initial;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;}
  .about {
  text-align: center;
  margin-bottom: 4%;}
  .services {
    text-align: center;
    margin-bottom: 4%;}
  .other {
    text-align: center;}
  .fond_footer {
    padding-bottom: 20%;
    padding-top: 60%;}
}
/*VERSION TABLETTE*/
@media (min-width: 768px) and (max-width: 992px){
/*Head*/
  .logo {
    width: 30%;
    position: initial;
    padding-left: 4%;
    padding-top: 4%;}
  .div_head {
    margin-bottom: -70%;}
/*Enjoy breakfast*/
  .b_enjoy {
    width: 50%;
    height: auto;
    margin-bottom: 10%;}
/*I love coffee*/
  .new {
    left: 60%;}
/*Tasty meals*/
  .fond {
    margin-top: 20%;
    width: 100%;
    height: 510px;
    position: relative;}
  .tasty_meals_img {
    background-size: 100%;}
  .h_tasty {
    margin-right: auto;}
  .p_tasty {
    margin-right: auto;}
/*Delicious smoothie*/
  .img_smooth {
    width: 50%;
    position: relative;}
  .h_delicious {
    margin: auto;
    padding-top: 10%;
    padding-left: 4%;}
  .p_delicious {
    margin: auto;
    padding-top: 25%;
    padding-left: 4%;}
  .b_delicious {
    position: relative;
    top: 750%;
    height: 60px;
    margin: auto;
    margin-left: 4%;}
/*Footer*/
  .logo_footer {
    width: 20%;
    position: initial;
    margin-left: 40%;}
  .fond_footer {
    padding-top: 10% !important;
    position: relative;}
  .parag {
    left: 30%;
    text-align: justify;}
  .parag {
    text-align: center;
    margin-top: 10%;
    position: initial;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;}
  .about {
  text-align: center;
  margin-bottom: 4%;}
  .services {
    text-align: center;
    margin-bottom: 4%;}
  .other {
    text-align: center;}
  .fond_footer {
    padding-bottom: 20%;
    padding-top: 60%;}
}
