/* Toolbar */
nav {
  text-transform: uppercase;
  background-color: #8aa899;
}

.nav-item {
  margin-right: 30px;
  margin-left: 30px;
  letter-spacing: 1px;
}

/* Typo */
h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #3a3c40;
  font-size: 2.5rem;
}
p {
  font-size: 1.5em;
  color: #3a3c40;
}

.container-fluid {
  padding: 0;
}

/* Head */
.banner {
  background: url("images/croissant.png")no-repeat;
  background-size: 100%;
  width: 150%;
  height: 1000px;
  margin-bottom: auto;
}
.logo {
  position: absolute;
  bottom: 60%;
  left: 5%;
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px){
  .logo {
    width: 40%;
  }
}

/* Enjoy breakfast */
.enjoy {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}
@media (max-width: 767px){
  .enjoy {
    margin-top: 0;
  }
}
.henjoy {
  margin-bottom: 2%;
}
.penjoy {
  margin-bottom: 4%;
}
.benjoy {
  width: 20%;
  height: 10%;
  background-color: #8aa899;
  text-transform: uppercase;
  letter-spacing: 10px;
  border: none;
  color: #3a3c40;
}

/* I love Coffee */
.lovecoffee {
  position: relative;
}
.imglovecoffee {
  width: 100%;
}
.cafe {
  display: flex;
  align-items: center;
  position: absolute;
}
.new {
  color: yellow;
  letter-spacing: 15px;
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  left: 70%;
  top: 60%;
  transform: translate(-50%,-50%);
  transform: rotate(10deg);
  text-transform: uppercase;
  padding: 100px;
  border-radius: 50%;
  height: 30%;
  width: 35%;
  background-color: red;
  text-align: left;
  background-color: rgba(117, 140, 121, 0.8);
}
.new:after {
content: "NEW!";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
/*.rondnew {
  float: right;
  position: absolute;
  bottom: 10%;
  right: 20%;
  transform: translate(-40%,-17%);
} */

/* See our menu */
.ourmenu {
  position: relative;
  margin-top: 5%;
}
.imgbanmenu {
  width: 100%;
}
.titremenu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

/* Menu */
.contour {
  border: 3px yellow solid;
  width: 70%;
  margin-left: 15%;
}
.miniimg {
  position: relative;
  top: 110px;
  right: 10px;
}
.menuname {
  text-align: left;
  float: left;
  padding-top : 30%;
  padding-left: 8%;
}
.titrecoffee {
  position: relative;
  float: right;
  margin-top: -40px;
  text-transform: uppercase;
  font-size: 1.6em;
  letter-spacing: 2px;
}
/* .titredrink {
  position: relative;
  top: 34%;
  left: 70%;
  text-transform: uppercase;
  font-size: 1.6em;
  letter-spacing: 2px;
}
.titresnack {
  position: relative;
  top: 34%;
  left: 68%;
  text-transform: uppercase;
  font-size: 1.6em;
  letter-spacing: 2px;
}
.titresandwich {
  position: relative;
  top: 34%;
  left: 58%;
  text-transform: uppercase;
  font-size: 1.6em;
  letter-spacing: 2px;
} */
.price {
  text-align: right;
  padding-top: 30%;
  padding-right: 8%;
}

/* Tasty meals */
.fond {
  background-color: #8aa899;
  width: 100%;
  height: 887px;
  margin-top: 10%;
  position: relative;
}
.htasty {
float: right;
position: relative;
margin-right: 30px;
clear: both;
}
.ptasty {
float: right;
position: relative;
text-align: right;
margin-right: 30px;
clear: both;
}
.tastymealsimg{
background:url(images/tastymeals.png) no-repeat;
}

/* Delicious smoothies */
.machin {
  margin-top: 5%;
}
.imgsmooth {
  float: right;
  position: relative;
  left: 15px;
}
.tdelicious {
  margin-left: 15%;
  position: relative;
  top: 200px;
}
.pdelicious {
  margin-left: 15%;
  position: relative;
  top: 250px;
}
.bdelicious {
  margin-left: 15%;
  position: relative;
  top: 300px;
  border: none;
  width: 40%;
  height: 8%;
  background-color: #8aa899;
  text-transform: uppercase;
  letter-spacing: 10px;
  border: none;
  color: #3a3c40;
}

/* Offers */
.get {
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 30px;
}
.btnsub {
  border-radius: 50px;
  border: none;
  width: 15%;
  background-color: #8aa899;
  color: white;
  text-transform: uppercase;
  padding: 8px;
  position: relative;
  right: 20px;
}
.btnemail {
  margin-top: 50px;
  border-radius: 50px;
  border: none;
  width: 40%;
  background-color: #3a3c40;
  color: #9d9ea1;
  padding: 8px 8px 8px 30px;
  position: relative;
  left: 20px;
}

/* Footer */
.fondfooter {
  background-color: #8aa899;
  margin-top: 200px;
  padding-top: 300px;
  padding-bottom: 200px;
  position: relative;
}
.logofooter {
  position: absolute;
  left: 10%;
  bottom: 100%;
}
.parag {
  position: absolute;
  left: 10%;
  bottom: 15%;
}
.other {
  position: relative;
  left: 150px;
}
.services {
  position: relative;
  left: 150px;
}
.about {
  position: relative;
  left: 150px;
}
.title {
  margin-bottom: 20px;
  font-size : 1.8em;
}


/*
.sand {
  position: absolute;
  right: 100px;
} */
